.bank-icbc {
  background-image: url(../assets/bankCardBg/bank-icbc.png);
}
.bank-cmb {
  background-image: url(../assets/bankCardBg/bank-cmb.png);
}
.bank-bob {
  background-image: url(../assets/bankCardBg/bank-bob.png);
}
.bank-cbc {
  background-image: url(../assets/bankCardBg/bank-cbc.png);
}
.bank-cbhb {
  background-image: url(../assets/bankCardBg/bank-cbhb.png);
}
.bank-czcb {
  background-image: url(../assets/bankCardBg/bank-czcb.png);
}
.bank-bea {
  background-image: url(../assets/bankCardBg/bank-bea.png);
}
.bank-cgb {
  background-image: url(../assets/bankCardBg/bank-cgb.png);
}
.bank-hsbl {
  background-image: url(../assets/bankCardBg/bank-hsbl.png);
}
.bank-bcm {
  background-image: url(../assets/bankCardBg/bank-bcm.png);
}
.bank-bon {
  background-image: url(../assets/bankCardBg/bank-bon.png);
}
