.weui-dialog {
  border-radius: 8px !important;
}
.weui-dialog .weui-dialog__bd {
  color: #000;
  font-size: 32px;
  line-height: 2.3;
}
.weui-dialog .weui-dialog__bd .weui-dialog__ft {
  background-color: #48bed4;
}
.weui-dialog .weui-dialog__bd .weui-dialog__ft .weui-dialog__btn_primary {
  color: #fff;
}
