/**
* actionsheet
*/
/**
* datetime
*/
/**
* tabbar
*/
/**
* tab
*/
/**
* dialog
*/
/**
* x-number
*/
/**
* checkbox
*/
/**
* check-icon
*/
/**
* Cell
*/
/**
* Mask
*/
/**
* Range
*/
/**
* Tabbar
*/
/**
* Header
*/
/**
* Timeline
*/
/**
* Switch
*/
/**
* Button
*/
/**
* swipeout
*/
/**
* Cell
*/
/**
* Badge
*/
/**
* Popover
*/
/**
* Button tab
*/
/* alias */
/**
* Swiper
*/
/**
* checklist
*/
/**
* popup-picker
*/
/**
* popup
*/
/**
* popup-header
*/
/**
* form-preview
*/
/**
* load-more
*/
/**
* sticky
*/
/**
* group
*/
/**
* toast
*/
/**
* icon
*/
/**
* calendar
*/
/**
* week-calendar
*/
/**
* search
*/
/**
* radio
*/
/**
* loadmore
*/
.nbui-label {
  display: block;
  width: 105px;
  word-wrap: break-word;
  word-break: break-all;
}
.nbui-input {
  width: 100%;
  border: 0;
  outline: 0;
  -nbbkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  height: 1.41176471em;
  line-height: 1.41176471;
}
.nbui-input::-webkit-outer-spin-button,
.nbui-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.nbui-textarea {
  display: block;
  border: 0;
  resize: none;
  width: 100%;
  color: inherit;
  font-size: 1em;
  line-height: inherit;
  outline: 0;
}
.nbui-textarea-counter {
  color: #B2B2B2;
  text-align: right;
}
.nbui-cell_warn .nbui-textarea-counter {
  color: #E64340;
}
.nbui-toptips {
  display: none;
  position: fixed;
  transform: translateZ(0);
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  color: #FFF;
  z-index: 5000;
  word-wrap: break-word;
  word-break: break-all;
}
.nbui-toptips_warn {
  background-color: #E64340;
}
.nbui-cells_form .nbui-cell__ft {
  font-size: 0;
}
.nbui-cells_form .nbui-icon-warn {
  display: none;
}
.nbui-cells_form input,
.nbui-cells_form textarea,
.nbui-cells_form label[for] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nbui-cell_warn {
  color: #E64340;
}
.nbui-cell_warn .nbui-icon-warn {
  display: inline-block;
}
